### Temporary ###


### Code ###
.settings/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


### OSX ###
.DS_Store


### Node ###
node_modules/


### General ###
*.log
*~
